/OperadoresLogicos/nbproject/private/
/OperadoresLogicoss/nbproject/private/
/OperadoresLogicoss/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresRelacionales/nbproject/private/
/OperadoresRelacionales/build/
/TiposdeDatos/nbproject/private/
/OperacionesConCadenas/nbproject/private/
/OperacionesConCadenas/build/
